* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1140px;
  margin: auto;
}

.header {
  margin-bottom: 16px;
}

.header__block {
  margin-top: 20px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__titel {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  margin-left: 8px;
}

.header__menu {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  color: #777777;
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
}

.header__link:hover {
  color: #000;
  padding-bottom: 10px;
  margin-bottom: -20px;
  border-bottom: 3px solid #0056cf;
}

.header__phone {
  color: #898989;
  text-decoration: none;
  font-family: Roboto;
}

.main-number {
  color: #000;
  font-family: Roboto;
  line-height: 1.2;
  font-weight: 700;
}

.logo {
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logo-imge {
  width: 25px;
  height: 25px;
}

.hearo {
  background: url("../img/Robot.png") no-repeat center/cover;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 50px;
}

.hearo__block {
  padding-top: 126px;
}

.hearo__titel {
  font-family: Roboto;
  font-size: 72px;
  line-height: 83px;
  font-weight: 300;
  padding-bottom: 6px;
}

.hearo__trading-robot {
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 300;
  max-width: 380px;
  padding-top: 30px;
  padding-bottom: 66px;
}

.hearo__block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hearo__titel-robot {
  max-width: 282px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-top: 20px;
  margin-left: 37px;
}

.hearo__button {
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0842b7;
  margin-bottom: 15px;
}

.hearo__button-discover {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #0842b7;
  border: 1px solid #0842b7;
}

.hearo__button-why-robot {
  width: 294px;
  height: 72px;
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 33px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-bottom: 277px;
}

.insane-robot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 353px;
}

.training {
  font-family: Roboto;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 300;
}

.blue {
  color: #06bee1;
}

.button {
  width: 239px;
  height: 48px;
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
  border-radius: 4px;
}

.efficiency {
  margin-top: -80px;
}

.efficiency__titel {
  font-family: Roboto;
  font-size: 342px;
  line-height: 80px;
  font-weight: 100;
  letter-spacing: -0.05em;
  color: #000000;
}

.efficiency__profit {
  max-width: 270px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #0f1c2e;
  margin-top: 70px;
  margin-bottom: 26px;
}

.efficiency__text {
  max-width: 214px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.efficiency__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #eaf1f7;
  padding-bottom: 120px;
}

.efficiency__card {
  margin-top: 98px;
}

.efficiency__card-tool {
  margin-top: 82px;
}

.efficiency__speed {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.card {
  text-decoration: none;
}

.trading-trining {
  background: url("../img/shape_457.jpg") no-repeat center/cover;
}

.trading-trining__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.trading-trining__titel {
  max-width: 486px;
  font-family: Roboto;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding-top: 150px;
}

.trading-trining__button {
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  background: transparent;
  margin-top: 35px;
  margin-bottom: 115px;
}

.refund {
  background: url("../img/shape_28.jpg") no-repeat center/cover;
}

.refund__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.refund__titel {
  max-width: 304px;
  font-family: Roboto;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-top: 127px;
}

.refund__button {
  width: 554px;
  height: 48px;
  background-color: #0842b7;
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 120px;
}

.how-much {
  padding-bottom: 120px;
}

.how-much__titel {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 36px;
}

.how-much__text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
  padding-bottom: 70px;
}

.how-much__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-much__speed {
  font-weight: 300;
}

.how-much__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-much__course {
  font-family: Roboto;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-bottom: 25px;
}

.how-much__price {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #06bee1;
  padding-bottom: 45px;
}

.how-much__link {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
  padding-bottom: 25px;
}

.how-much__button {
  width: 166px;
  height: 48px;
  border: 1px solid #0842b7;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #0842b7;
  background-color: transparent;
}

.how-much__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how-much__lectures {
  margin-bottom: 70px;
}

.how-much__lina {
  border-right: 1px solid #eaf1f7;
  height: 71;
}

.how-much__block-text {
  padding-top: 125px;
}

.premium {
  margin-bottom: 95px;
}

.lina {
  border-right: 1px solid #eaf1f7;
  padding-right: 140px;
}

.footer {
  padding-top: 127px;
  padding-bottom: 118px;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-bottom: 42px;
}

.footer__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.footer__nav {
  margin-top: 21px;
  border-top: 1px solid #eaf1f7;
  padding-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
}

.footer__nav-two {
  margin-top: 21px;
  padding-top: 34px;
  border-top: 1px solid #eaf1f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 200px;
}

.footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #777777;
  padding-bottom: 12px;
}

.footer__email {
  width: 263px;
  height: 48px;
  border: 1px solid #cfdeee;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #777777;
  padding-left: 19px;
}

.footer__button {
  margin-left: -50px;
  background: transparent;
  text-transform: uppercase;
  border: none;
  margin-top: 15px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 22px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #0842b7;
  border-radius: 19.5px;
}

.queetion {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-114%, #03256c), color-stop(215%, #061826));
  background-image: linear-gradient(0deg, #03256c -114%, #061826 215%);
}

.queetion__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 128px;
  padding-bottom: 120px;
}

.queetion__titel {
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 31px;
}

.queetion__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 32px;
}

.queetion__email {
  width: 263px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  padding-left: 17px;
  margin-right: 20px;
}

.queetion__button {
  width: 269px;
  height: 48px;
  background-color: #0842b7;
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.video {
  padding-top: 128px;
  padding-bottom: 122px;
  background: url(../img/shape_97.jpg) no-repeat center/cover;
}

.video__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.video__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__titel {
  font-family: Roboto;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 30px;
}

.video__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 45px;
}

.video__email {
  width: 359px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-bottom: 30px;
  border: none;
  padding-left: 15px;
}

.video__button {
  width: 358px;
  height: 48px;
  background-color: #0842b7;
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.process {
  background: url(../img/shape_33.png) no-repeat center/cover;
}

.process__titel {
  font-family: Roboto;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-top: 46px;
}

.process__titel__text {
  font-weight: 300;
  font-family: Roboto;
  font-size: 38px;
}

.process__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 140px;
}

.process__block__titel {
  font-family: Roboto;
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-bottom: 42px;
}

.process__lessons {
  font-family: Roboto;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  padding-bottom: 30px;
}

.process__text {
  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
}

.author-robot {
  padding-top: 110px;
  padding-bottom: 120px;
  background: url(../img/create-bg.png) no-repeat center/cover;
}

.author-robot__button {
  width: 361px;
  height: 48px;
  background-color: #0842b7;
  -webkit-box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
          box-shadow: 0px 12px 24px 0px rgba(6, 57, 158, 0.31);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.author-robot__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author-robot__block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 85px;
}

.author-robot__block__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}

.author-robot__block__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-robot__block__profit__social {
  padding-top: 40px;
}

.author-robot__block__profit__link {
  border-bottom: 1px solid #eaf1f7;
  padding-bottom: 40px;
}

.author-robot__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-robot__profit__input {
  margin-left: -2px;
}

.author-robot__profit__text {
  max-width: 210px;
  max-height: 40px;
}

.author-robot__profit__text__input {
  margin-right: 60px;
}

.author-robot__input {
  width: 98px;
  height: 48px;
  border: 1px solid #cfdeee;
  border-radius: 4px;
  margin-right: 30px;
}

.author-robot__titel {
  max-width: 480px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  color: #0f1c2e;
  text-align: center;
}

.author-robot__text {
  max-width: 350px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #0f1c2e;
  text-align: center;
  padding-bottom: 64px;
}

.author-robot__earnings {
  max-width: 340px;
  font-family: Roboto;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-bottom: 36px;
}

.author-robot__earnings__text {
  max-width: 180px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #0f1c2e;
}

.author-robot__earnings__info__text {
  font-weight: 300;
}

.results {
  background: url(../img/img_877.png) no-repeat bottom left;
}

.results__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
}

.results__pupils__titel {
  max-width: 418px;
  font-family: Roboto;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-bottom: 30px;
}

.results__pupils__titel__text {
  font-weight: 300;
}

.results__pupils__text {
  max-width: 270px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
}

.results__jan__titel {
  font-family: Roboto;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  padding-top: 45px;
  padding-bottom: 34px;
}

.results__jan__text {
  max-width: 277px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
}

.benefits {
  background-color: #eaf1f7;
}

.benefits__img {
  margin-bottom: 20px;
}

.benefits__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits__block__lntensive {
  padding-bottom: 65px;
}

.benefits__card__bank {
  padding-right: 45px;
}

.benefits__card__titel {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #061826;
  padding-bottom: 10px;
}

.benefits__card__text {
  max-width: 239px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
}

.benefits__card__text__actions {
  max-width: 300px;
}

.benefits__card__text__practice {
  max-width: 256px;
}

.benefits__card__text__robo {
  max-width: 250px;
}

.benefits__card__text__bank {
  max-width: 250px;
}

.benefits__card__text__task {
  max-width: 298px;
}

.benefits__lntensive__titel {
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  padding-bottom: 40px;
}

.benefits__lntensive__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.benefits__lntensive__course__card {
  margin-left: 10px;
}

.benefits__titel {
  font-family: Roboto;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  padding-bottom: 62px;
}

.format__practice__card__titel {
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #0f1c2e;
  padding-top: 48px;
  padding-bottom: 30px;
}

.format__practice__card__text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #061826;
  max-width: 200px;
}

.format__practice__card__text__testing {
  max-width: 250px;
}

.format__practice__card__text__titel {
  max-width: 260px;
}

.format__block {
  border-bottom: 1px solid #eaf1f7;
  text-align: center;
  margin-bottom: 70px;
}

.format__block__card {
  padding-bottom: 117px;
}

.format__block__card__testing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.format__block__practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding-top: 40px;
}

.format__text {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  padding-top: 170px;
  padding-bottom: 65px;
}

.format__card {
  text-align: left;
}

.format__card__testing {
  margin-top: -195px;
  margin-bottom: 80px;
  padding-left: 45px;
}

.format__card__titel {
  font-family: Roboto;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  max-width: 125px;
  padding-bottom: 30px;
}

.format__card__text {
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  max-width: 193px;
}

.format__card__text__block {
  max-width: 276px;
}
